{# stores/templates/base.html #}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Facebook Page Counts{% endblock title %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

    <body style="padding-top: 70px;">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Facebook Page Counts</a>
                </div>
                <a href="{% url 'admin:index' %}" type="button" class="btn btn-info navbar-btn navbar-right">/admin</a>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'page_list' %}">FB 粉絲專頁</a></li>
                        <li class="disabled"><a href="javascript://">熱門 FB 動態</a></li>
                        <li class="disabled"><a href="javascript://">熱門新聞</a></li>
                    </ul>
                    <form class="navbar-right navbar-form" method="post" action="{% url 'logout' %}">
                        {% if user.is_authenticated %}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'home' %}">
                        <button class="btn btn-default" type="submit">登出</button>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-default">登入</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="width: {% block content_width %}1150{% endblock %}px;margin-right: auto; margin-left: auto;">
        {% block content %}
        {% endblock %}
        </div>
        <div class="container-fluid" style="width: 1150px;margin-right: auto; margin-left: auto;">
        {% block footer %}
        <hr>
        <h2 class="text-center">Footer</h2>
        {% endblock footer %}
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static 'base/js/base.js' %}"></script>
        {% block js %}{% endblock js %}
    </body>
</html>
