{# stores/templates/page_list.html #}
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-1">
            &nbsp;
        </div>
        <div class="col-xs-3">
            FB 粉絲專頁名稱
        </div>
        <div class="col-xs-2">
            粉絲數
        </div>
        <div class="col-xs-2">
            last access time
        </div>
        <div class="col-xs-2">
            notes
        </div>
    </div>
    {% for page_item in page_items %}
    <div class="row">
        <div class="col-xs-1">
            <img src="{{ page_item.picture_url }}" alt="">
        </div>
        <div class="col-xs-3">
            <a href="https://www.facebook.com/{{ page_item.fb_id }}" target="_blank" style="color: #3b5998;font-weight: bold;">{{ page_item.name }}</a>
        </div>
        <div class="col-xs-2">
            like
        </div>
        <div class="col-xs-2">
            {{ page_item.last_access_time }}
        </div>
        <div class="col-xs-2">
            {{ page_item.notes|truncatechars:30 }}
        </div>
    </div>
    {% endfor %}
    <div>
        {{ text }}
    </div>
</div>
{% endblock %}